header {
  background-color: var(--color-light-blue);
  padding: 18px;
}

.input-login {
  width: 100%;
}

.form {
  margin-top: 10%;
}

.form-container {
  width: 50%;
}

.form-title {
  font-family: "DINRoundPro-Bold";
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  color: rgb(22, 22, 22);
}

.btn {
  width: 40%;
}
