<div class="container-fluid d-flex h-100">
  <app-sidebar-menu-admin></app-sidebar-menu-admin>

  <div class="container form-container">
    <div style="height: 10%"></div>
    <h1 class="form-title text-center mb-4">Editar Pergunta e Respostas</h1>
    <div class="form">
      <app-selection-input [form]="form" label="Lição" controlName="lesson" [values]="lessonsTitle"></app-selection-input>
      <app-input [form]="form" label="Descrição" controlName="description"></app-input>
      <app-input [form]="form" label="Índice" controlName="index"></app-input>
      <button type="button" class="btn btn-add-answer btn-primary btn-sm p-2 mb-2" (click)="openAnswerModal()">Adicionar Resposta</button>

      <div class="answers-list mt-4">
        <h2>Respostas Adicionadas</h2>
        <ul class="list-group">
          <li *ngFor="let answer of answers; let i = index" class="list-group-item d-flex justify-content-between align-items-center">
            <div style="width: 70%;">
                <strong>Resposta:</strong> {{ answer.text }}<br />
                <strong>Feedback:</strong> {{ answer.feedbackText }}<br />
                <strong>Correta:</strong> {{ answer.correct ? 'Sim' : 'Não' }}
            </div>
            <div class="d-flex align-items-center">
                <button type="button" class="btn btn-warning btn-sm me-2" (click)="openAnswerModal(answer, i)">Editar</button>
                <button type="button" class="btn btn-danger btn-sm" style="min-width: 70px;" (click)="removeAnswer(i)">Remover</button>
            </div>
        </li>
        </ul>
      </div>

      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-danger p-2 mt-2" (click)="navigateBack()">
          Voltar
        </button>
        <button type="button" class="btn btn-primary p-2 mt-2" (click)="saveQuestion()">
          Salvar Pergunta
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="isAnswerModalOpen" class="modal show d-block" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h5 class="modal-title w-100">{{ editingAnswer ? 'Editar Resposta' : 'Adicionar Resposta' }}</h5>
          <button type="button" class="btn-close btn-sm border-0" (click)="closeAnswerModal()"></button>
        </div>
        <div class="modal-body">
          <app-input [form]="answerForm" label="Texto da Resposta" controlName="text"></app-input>
          <app-input [form]="answerForm" label="Feedback" controlName="feedbackText"></app-input>
          <app-checkbox [form]="answerForm" label="Resposta Correta" controlName="correct"></app-checkbox>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button type="button" class="btn btn-danger" (click)="closeAnswerModal()">Fechar</button>
          <button type="button" class="btn btn-primary ms-auto" (click)="saveAnswer()">{{ editingAnswer ? 'Atualizar Resposta' : 'Salvar Resposta' }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
