.table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;

  td,
  th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    text-align: center;
    padding: 8px;
  }

  th {
    background-color: black;
    color: white;
  }
}
