<div class="container-fluid d-flex h-100">
  <app-sidebar-menu-admin></app-sidebar-menu-admin>

  <div class="container">
    <h1 class="text-center my-5">Consulta de Perguntas e Respostas</h1>
    <div class="table-responsive">
      <table class="table table-striped text-center">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Nome da lição</th>
            <th scope="col">Descrição</th>
            <th scope="col">Tipo</th>
            <th scope="col">Indice</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">1</td>
            <td>Licao Inicial</td>
            <td>O que e algoritmo ?</td>
            <td>Multipla Escolha</td>
            <td>1</td>
            <td>
              <button class="btn btn-primary btn-sm mx-2">
                <i class="fas fa-edit"></i> Editar
              </button>
              <button class="btn btn-danger btn-sm mx-2">
                <i class="fas fa-trash"></i> Excluir
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
