<div class="container-fluid d-flex h-100 p-0 m-0">
  @if (isUser) {
    <app-sidebar-menu></app-sidebar-menu>
  } @else {
    <app-sidebar-menu-admin></app-sidebar-menu-admin>
  }

  <div class="container-fluid w-100 h-100 d-flex flex-column justify-content-center align-items-center gap-3 p-0 m-0">
    <div class="form-container">
      <h1 class="form-title   text-center mb-4">Atualizar Senha</h1>
      <div>
        <app-input [form] = "form" label="Senha" controlName="password" />
        <button type="button" class="btn btn-primary p-2 mt-4 w-100" (click)="submit()">SALVAR</button>
      </div>
    </div>
  </div>

</div>
