@if (isModalOpen) {
  <div class="modal show d-block" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-between mt-3">
          <button type="button" class="btn-close" (click)="close()"></button>
        </div>
        <div class="modal-body">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
}
