@if (isModalOpen) {
  <div class="modal show d-block" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-between mt-3">
          <button type="button" class="btn-close" (click)="close()"></button>
          <div *ngIf="showHeart" class="user-info d-flex align-items-center ms-auto" style="width: 50%;">
            <div class="d-flex align-items-center justify-content-end" style="width: 100%; height: 30px;" data-test="hearts-menu">
              <span class="heart-container d-flex align-items-center justify-content-center" tabindex="0">
                <img style="height: 28px; width: 28px;" src="https://d35aaqx5ub95lt.cloudfront.net/images/hearts/8fdba477c56a8eeb23f0f7e67fdec6d9.svg">
                <span class="text-danger ms-2" style="font-size: 18px; font-weight: 700;"> 5</span>
              </span>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
}
