<div class="container-fluid d-flex h-100">
  <app-sidebar-menu-admin></app-sidebar-menu-admin>

  <div class="container form-container">
    <div style="height: 10%"></div>
    <h1 class="form-title text-center mb-5">Consulta de Cursos</h1>
    <div class="container d-flex">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Nome do Curso</th>
            <th scope="col">Descrição</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of courses">
            <td scope="row">{{ course.id }}</td>
            <td>{{ course.name }}</td>
            <td>{{ course.description }}</td>
            <td>
              <button class="btn btn-primary" (click)="editCourse(course.id!)">
                <i class="fa fa-edit"></i> Editar
              </button>
              <button class="btn btn-danger" style="margin-left: 20px" (click)="deleteCourse(course.id!)">
                <i class="fa fa-trash"></i> Excluir
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
