<div class="container-fluid h-100 d-flex flex-column justify-content-center align-items-center gap-3 p-0 m-0">
  <button type="button" class="btn-register position-absolute translate-middle" (click)="redirectToRegister()">CRIAR CONTA</button>
  <div class="form-container">
    <h1 class="form-title text-center mb-4">Entrar</h1>
    <div>
      <app-input [type] = "'email'" [form] = "form" label="E-mail/Usuario" controlName="email"/>
      <app-input [type] = "'password'" [form] = "form" label="Senha" controlName="password" />
      <button type="button" class="btn btn-primary p-2 mt-4 w-100" (click)="submit()">ENTRAR</button>
    </div>
  </div>
</div>
