<div class="container-fluid h-100 p-0 m-0">
  <app-sidebar-menu></app-sidebar-menu>
</div>

<!-- <div class="container-fluid h-100 p-0 m-0">
  <app-sidebar-menu></app-sidebar-menu>
  <div
    class="container-fluid h-100 d-flex flex-column justify-content-center align-items-center gap-3 p-0 m-0"
  >
    <div class="form-container">
      <h1 class="form-title text-center mb-4">Entrar</h1>
      <div>
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control input-login"
            id="floatingInput"
            placeholder="E-mail ou nome de Usuário"
          />
          <label for="floatingInput" class="fs-6">E-mail ou nome de Usuário</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control input-login"
            id="floatingPassword"
            placeholder="Password"
          />
          <label for="floatingPassword" class="fs-6">Senha</label>
        </div>
        <button type="button" class="btn btn-primary p-2 mt-4 w-100">ENTRAR</button>
      </div>
    </div>
  </div>
</div> -->
