<div class="container-fluid h-100 d-flex flex-column justify-content-center align-items-center gap-3 p-0 m-0">
  <button type="button" class="btn-entrar position-absolute translate-middle" (click)="redirectToLogin()">ENTRAR</button>
  <div class="form-container">
    <h1 class="form-title text-center mb-4">Crie o seu perfil</h1>
    <div>
      <app-input [form] = "form" label="Nome" controlName="name"/>
      <app-input [form] = "form" label="E-mail" controlName="email" />
      <app-input [form] = "form" label="Senha" controlName="password"/>
      <button type="button" class="btn btn-primary p-2 mt-4 w-100" (click)="submit()">CRIAR CONTA</button>
    </div>
  </div>
</div>

