<div class="container-fluid h-100">
  <header class="content-wrapper d-flex justify-content-center">
    <nav class="navbar navbar-light d-flex justify-content-between" style="width: 80%;">
      <a class="navbar-brand" href="#">
        <span class="navbar-title">TechLingo</span>
      </a>
    </nav>
  </header>

  <main class="flex-grow-1 d-flex justify-content-center align-items-center" style="height: 60%">
    <section class="home py-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 image-content">
            <img src="../../../assets/images/duolingo_twitch.jpg" class="img-fluid">
          </div>

          <div class="col-md-6 text-content text-center text-md-left">
            <h2 class="mb-5">O jeito grátis, divertido e eficaz de aprender uma tecnologia!</h2>
            <div class="d-flex flex-column align-items-center gap-3 w-100 mt-3">
              <a href="/register" class="btn btn-primary start-button">COMECE AGORA</a>
              <a href="/login" class="btn btn-outline-primary account-button">JÁ TENHO UMA CONTA</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
