a {
  align-items: center;
  color: var(--color-wolf);
  font-family: "DINRoundPro-bold";
  font-size: 15px;
  text-decoration: none;
}

button {
  align-items: center;
  color: var(--color-wolf);
  font-family: "DINRoundPro-bold";
  font-size: 15px;
  text-decoration: none;
}

.navbar-title {
  color: rgb(136 91 222);
  font-size: 30px;
}

.account-button {
  right: -2%;
  top: 7%;
  width: 300px;
  padding: 9px;
  background-color: transparent;
  color: var(--color-light-blue);
  border: 2px solid rgb(200, 200, 200);
  border-radius: 15px;
  font-size: 900;
  transition: transform 0.2s, box-shadow 0.2s;

  &:active {
    transform: translateY(4px);
    box-shadow: 0 2px 0 rgba(0, 102, 0, 0.7);
    background-color: transparent;
    color: var(--color-light-blue);
    border: 1px solid rgb(200, 200, 200);
  }
}

.start-button {
  right: -2%;
  top: 7%;
  width: 300px;
  padding: 9px;
  background-color: var(--color-light-purple);
  color: var(--color-snow);
  border: 0px solid rgb(77, 75, 75);
  box-shadow: 0 4px 0 rgba(0, 102, 0, 0.7);
  border-radius: 15px;
  font-size: 900;
  transition: transform 0.2s, box-shadow 0.2s;

  &:active {
    transform: translateY(4px);
    box-shadow: 0 2px 0 rgba(0, 102, 0, 0.7);
    background-color: var(--color-light-purple);
    color: var(--color-snow);
  }
}
