<div class="content-wrapper d-flex flex-column justify-content-center p-4 ml-2 h-100" style="width: 280px;">
  <div class="title-container">
    <a href="/">
      <span class="sidebar-title">TechLingo</span>
    </a>
  </div>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="/">
        <img class="sidebar-logo" src="../assets/images/learn-logo.svg">
        APRENDER
      </a>
    </li>
    <li class="nav-item">
      <a href="/">
        <img class="sidebar-logo" src="../assets/images/profile-logo.svg">
        PERFIL
      </a>
    </li>
    <li class="nav-item">
      <a href="/">
        <img class="sidebar-logo" src="../assets/images/more-logo.svg">
        MAIS
      </a>
    </li>
  </ul>
</div>
