a {
  align-items: center;
  color: var(--color-wolf);
  font-family: "DINRoundPro-bold";
  font-size: 15px;
  text-decoration: none;

  &:hover {
    color: rgb(136, 91, 222);
  }
}

.sidebar-title {
  color: rgb(136, 91, 222);
  font-size: 30px;
  margin-left: 0.5rem;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.dropdown:hover .dropdown-menu,
.dropdown-menu:hover {
  display: block;
  opacity: 1;
}

.dropdown {
  position: relative;
}

.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
}

.dropdown-menu {
  display: block;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.dropdown-menu:hover {
  opacity: 1;
}

.dropdown-toggle::after {
  display: none;
}
