<div class="content-wrapper d-flex flex-column justify-content-center p-4 ml-2 h-100" style="width: 240px;">
  <div class="title-container">
    <a href="/">
      <span class="sidebar-title">TechLingo</span>
    </a>
  </div>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="/learn">
        <img class="sidebar-logo" src="../assets/images/learn-logo.svg">
        APRENDER
      </a>
    </li>
    <li class="nav-item">
      <a href="/">
        <img class="sidebar-logo" src="../assets/images/profile-logo.svg">
        PERFIL
      </a>
    </li>
    <li class="nav-item dropdown">
      <a href="/" id="moreDropdown">
        <img class="sidebar-logo" src="../assets/images/more-logo.svg">
        MAIS
      </a>
      <div class="dropdown-menu" aria-labelledby="moreDropdown">
        <a class="dropdown-item" href="/change-password">Alterar a Senha</a>
        <a class="dropdown-item" href="/logout">Sair</a>
      </div>
    </li>
  </ul>
</div>
