<div class="form-floating mb-3" [formGroup] = "form">
  <input class="form-control input-login" id="floatingInput"
    [type]="type"
    [mask]="mask"
    [placeholder]="label"
    [formControlName]="controlName"
    autocomplete="off"
    [minlength]="minlength"
    [maxlength]="maxlength"
    [disabled]="disabled"
  />
  <label for="floatingInput">{{ label }} <span *ngIf="asteriskRequired" class="red-asterisk">*</span></label>
  <div class="text-danger " *ngIf="form.get(controlName)?.invalid && form.get(controlName)?.touched">
    {{ getErrors() }}
  </div>
</div>
