<div class="content-wrapper flex-shrink-0 p-3 bg-white h-100" style="width: 280px" bis_skin_checked="1">
  <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
    <span class="fs-3 fw-semibold">TechLingo</span>
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse"
        data-bs-target="#course-collapse" aria-expanded="false">
        Cursos
      </button>
      <div class="collapse" id="course-collapse" bis_skin_checked="1">
        <ul class="btn-toggle-nav fw-normal pb-1 small">
          <li>
            <a href="admin/courses/add" class="text-decoration-none text-dark">Cadastrar</a>
          </li>
          <li>
            <a href="admin/courses" class="text-decoration-none text-dark">Buscar Curso</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
        data-bs-target="#unit-collapse" aria-expanded="false">
        Unidades
      </button>
      <div class="collapse" id="unit-collapse" bis_skin_checked="1">
        <ul class="btn-toggle-nav fw-normal pb-1 small">
          <li>
            <a href="admin/units/add" class="text-decoration-none text-dark">Cadastrar</a>
          </li>
          <li>
            <a href="admin/units" class="text-decoration-none text-dark">Buscar Unidades</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse"
        data-bs-target="#lesson-collapse" aria-expanded="false">
        Liçoes
      </button>
      <div class="collapse" id="lesson-collapse" bis_skin_checked="1">
        <ul class="btn-toggle-nav fw-normal pb-1 small">
          <li>
            <a href="admin/lessons/add" class="text-decoration-none text-dark">Cadastrar</a>
          </li>
          <li>
            <a href="admin/lessons" class="text-decoration-none text-dark">Buscar Lições</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
        data-bs-target="#question-collapse" aria-expanded="false">
        Perguntas e Respostas
      </button>
      <div class="collapse" id="question-collapse" bis_skin_checked="1">
        <ul class="btn-toggle-nav fw-normal pb-1 small">
          <li>
            <a href="admin/questions/add" class="text-decoration-none text-dark">Cadastrar</a>
          </li>
          <li>
            <a href="admin/questions" class="text-decoration-none text-dark">Buscar Perguntas</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="border-top my-3"></li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
        data-bs-target="#account-collapse" aria-expanded="false">
        Conta
      </button>
      <div class="collapse" id="account-collapse" bis_skin_checked="1">
        <ul class="btn-toggle-nav fw-normal pb-1 small">
          <li><a href="#" class="text-decoration-none text-dark">Novo</a></li>
          <li><a href="#" class="text-decoration-none text-dark">Perfil</a></li>
          <li>
            <a href="#" class="text-decoration-none text-dark">Configurações</a>
          </li>
          <li><a href="#" class="text-decoration-none text-dark">Sair</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
