<div class="container-fluid d-flex h-100 p-0 m-0">
  <app-sidebar-menu></app-sidebar-menu>

  <div class="d-flex flex-column align-items-center w-100">
    <div style="width: 40%">
      <div style="height: 4rem"></div>
      <div class="section-container w-100 d-flex flex-column align-items-stretch">
        <h1 class="section-info">SEÇÃO 1, UNIDADE 1</h1>
        <span class="section-title">Faça pedido em um café</span>
      </div>
    </div>

    <div class="lessons-container mt-5">
      <section class="units-container">
        <div class="lesson align-items-center text-center" style="height: 80px; width: auto;">
          <h1 class="fs-5">Comecar</h1>
          <div>
            <button class="lesson-item">
              <img src="https://d35aaqx5ub95lt.cloudfront.net/images/path/icons/ddd21f172a2db0f5ef169c09b4d3badb.svg"
                alt="" />
            </button>
          </div>
        </div>

        <div class="lesson align-items-center text-center" style="height: 80px; width: auto;">
          <div>
            <button class="lesson-item">
              <img src="https://d35aaqx5ub95lt.cloudfront.net/images/path/icons/ddd21f172a2db0f5ef169c09b4d3badb.svg"
                alt="" />
            </button>
          </div>
        </div>
      </section>
    </div>
  </div>

</div>
