<div class="container-fluid d-flex h-100 p-0 m-0">
  <app-sidebar-menu></app-sidebar-menu>

  <div class="container-fluid d-flex flex-column h-100 p-0 m-0" *ngIf="selectedCourse">
    <div *ngFor="let unit of selectedCourse.unitList" class="d-flex flex-column align-items-center w-100">
      <div style="width: 40%">
        <div style="height: 4rem"></div>
        <div class="section-container w-100 d-flex flex-column align-items-stretch">
          <h1 class="section-info">{{ unit.title }}</h1>
          <span class="section-title">{{ unit.description }}</span>
        </div>
      </div>

      <div class="lessons-container mt-5">
        <section class="units-container">
          <div *ngFor="let lesson of unit.lessonList"  class="lesson align-items-center text-center" style="height: 80px; width: auto;">
            <div>
              <button class="lesson-item" (click)="openLesson(lesson)">
                <img src="https://d35aaqx5ub95lt.cloudfront.net/images/path/icons/ddd21f172a2db0f5ef169c09b4d3badb.svg"
                  alt="" />
              </button>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <app-lesson-quiz *ngIf="selectedLesson" [questions]="selectedLesson.questionList">
  </app-lesson-quiz>

  <app-modal [isModalOpen]="isModalOpen" (closeModal)="toggleModal()">
    <div class="container mt-5">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
        <div class="col d-flex justify-content-center" *ngFor="let course of courses">
          <app-course-card [course]="course" (click)="selectCourse(course)"></app-course-card>
        </div>
      </div>
    </div>
  </app-modal>
</div>
