.container-fluid {
  display: flex;
  height: 100vh;
}

.user-details {
  position: fixed;
  right: 100px;
  width: 20%;
  z-index: 1000;
}

.sidebar-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 500px;
  z-index: 1000;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.content-container-with-sidebar {
  margin-left: 250px;
  width: calc(100% - 550px);
}

.content-container-full {
  width: 70%;
}

.lesson {
  margin-bottom: 3rem;
}

.lesson-item {
  border: none;
  padding: 18px;
  border-radius: 50%;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.lesson-item:active {
  transform: translateY(1px);
  box-shadow: none;
}

.section-container {
  height: 60%;
  box-sizing: border-box;
  min-height: 82px;
  overflow-wrap: break-word;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 13px;
  row-gap: 6px;
  background-color: var(--color-light-purple);
  color: var(--color-snow);
  margin-bottom: 2rem;
}

.section-info {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 2px;
  margin-top: 12px;
  opacity: 0.7;
}

.section-title {
  word-wrap: break-word;
  font-size: 19px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 12px;
}

.lessons-container {
  margin-top: 2rem;
}

.heart-container {
  justify-content: space-between;
  padding: 0 16px 0 10px;
  width: 72px;
}

.user-info .course-container img {
  height: 40px;
  width: 60px;
  border-radius: 8px;
  object-fit: cover;
}

.report-button {
  right: -2%;
  top: 7%;
  width: 200px;
  padding: 9px;
  background-color: var(--color-light-purple);
  color: var(--color-snow);
  border: 0px solid rgb(77, 75, 75);
  box-shadow: 0 4px 0 rgba(50, 20, 70, 0.7);
  border-radius: 15px;
  font-size: 900;
  transition: transform 0.2s, box-shadow 0.2s;

  &:active {
    transform: translateY(4px);
    box-shadow: 0 2px 0 rgba(50, 20, 70, 0.7);
    background-color: var(--color-light-purple);
    color: var(--color-snow);
  }
}
