<div class="container-fluid d-flex h-100">
  <app-sidebar-menu-admin></app-sidebar-menu-admin>

  <div class="container form-container">
    <div style="height: 20%"></div>
    <h1 class="form-title text-center mb-4">
      Formulário de Alteração de Curso
    </h1>
    <div class="form">
      <app-input [form]="form" label="Nome" controlName="name" />
      <app-input [form]="form" label="Descrição" controlName="description" />
      <app-input [form]="form" label="Imagem do Curso" controlName="image" />
      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-danger p-2 mt-2" (click)="navigateBack()">
          Voltar
        </button>
        <button type="button" class="btn btn-primary p-2 mt-2" (click)="saveCourse()">
          Salvar
        </button>
      </div>
    </div>
  </div>
</div>
