<div class="container-fluid d-flex h-100 p-0">
  <app-learn-modal [isModalOpen]="isModalOpen" [showHeart]="true" [isQuizCompleted]="isQuizCompleted"
    (closeModal)="toggleModal()" (continue)="verifyAnswer()" (back)="moveToPreviousItem()">

    <div class="container mt-4 px-2">
      <div *ngIf="isContentDisplayed">
        <div class="row mb-3">
          <div class="col-12 text-center">
            <h3 class="fw-bold fs-5">{{ contents[currentContentIndex].title }}</h3>
            <p>{{ contents[currentContentIndex].text }}</p>
          </div>
        </div>
      </div>

      <div *ngIf="!isContentDisplayed">
        <div class="row mb-3">
          <div class="col-12 text-center">
            <h3 class="fw-bold fs-5">{{ questions[currentQuestionIndex].description }}</h3>
          </div>
        </div>

        <div class="row g-3 justify-content-center">
          <div *ngFor="let answer of questions[currentQuestionIndex]?.answerList"
            class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center">
            <app-answers-card [answer]="answer" [selectedAnswer]="selectedAnswer" [feedbackMessage]="feedbackMessage"
              (answerSelected)="selectAnswer($event)">
            </app-answers-card>
          </div>
        </div>
      </div>
    </div>

  </app-learn-modal>
</div>
